.footer {
  border-top: 1px solid #d9fff5;
  max-width: 1120px;
  margin: auto;
  padding-top: 16px;

  @media (min-width: $desctopScr) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 32px;
  }

  .ctr {
    text-align: center;
    margin-bottom: 24px;
  }

  .footer__authors {
    margin-left: 16px;
    @media (min-width: $desctopScr) {
      margin-left: 24px;
      text-align: left;
    }

    @media (min-width: $bigDesctopScr) {
      margin-left: 32px;
    }
  }

  .footer__political {
    @media (min-width: $desctopScr) {
      text-align: center;
    }
  }

  .footer__ofera {
    margin-right: 16px;
    @media (min-width: $desctopScr) {
      margin-right: 24px;
      text-align: right;
    }

    @media (min-width: $bigDesctopScr) {
      margin-right: 32px;
    }
  }

  .footer--text {
    color: $navText;
    font-size: $optFontSize;
    font-weight: 500;
    line-height: 16px;
  }
}
