@font-face /*100-normal*/ {
  font-family: 'TTLakes';
  font-weight: 100;
  font-style: normal;
  src: url(../fonts/TTLakes-Thin.woff), url(../fonts/TTLakes-Thin.ttf),
    url(../fonts/TTLakes-Thin.eot);
}

@font-face /*200-normal*/ {
  font-family: 'TTLakes';
  font-weight: 200;
  font-style: normal;
  src: url(../fonts/TTLakes-ExtraLight.woff),
    url(../fonts/TTLakes-ExtraLight.ttf), url(../fonts/TTLakes-ExtraLight.eot);
}

@font-face /*300-normal*/ {
  font-family: 'TTLakes';
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/TTLakes-Light.woff), url(../fonts/TTLakes-Light.ttf),
    url(../fonts/TTLakes-Light.eot);
}

@font-face /*400-normal*/ {
  font-family: 'TTLakes';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/TTLakes-Regular.woff), url(../fonts/TTLakes-Regular.ttf),
    url(../fonts/TTLakes-Regular.eot);
}

@font-face /*500-normal*/ {
  font-family: 'TTLakes';
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/TTLakes-Medium.woff), url(../fonts/TTLakes-Medium.ttf),
    url(../fonts/TTLakes-Medium.eot);
}

@font-face /*600-normal*/ {
  font-family: 'TTLakes';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/TTLakes-DemiBold.woff), url(../fonts/TTLakes-DemiBold.ttf),
    url(../fonts/TTLakes-DemiBold.eot);
}

@font-face /*700-normal*/ {
  font-family: 'TTLakes';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/TTLakes-Bold.woff), url(../fonts/TTLakes-Bold.ttf),
    url(../fonts/TTLakes-Bold.eot);
}

@font-face /*800-normal*/ {
  font-family: 'TTLakes';
  font-weight: 800;
  font-style: normal;
  src: url(../fonts/TTLakes-ExtraBold.woff), url(../fonts/TTLakes-ExtraBold.ttf),
    url(../fonts/TTLakes-ExtraBold.eot);
}

@font-face /*900-normal*/ {
  font-family: 'TTLakes';
  font-weight: 900;
  font-style: normal;
  src: url(../fonts/TTLakes-Black.woff), url(../fonts/TTLakes-Black.ttf),
    url(../fonts/TTLakes-Black.eot);
}
