$backgroundColor: #f8f8f8;
$focusColor: #ffffff;
$borderBlockColor: #d9fff5;

$mainText: #1b1c21;
$navText: #7e7e82;

$mainFontSize: 16px;
$optFontSize: 14px;

$desctopScr: 768px;
$bigDesctopScr: 1120px;

body {
  margin: 0;
  min-width: 320px;
  font-family: 'TTLakes', sans-serif;
  background-color: $backgroundColor;
  color: $mainText;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.btn--off {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.dspl--none {
  display: none !important;
}
