.nav__footer {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;

  .nav__footer__menu {
    font-size: 0;
  }

  .footer--button {
    width: 40px;
    height: 40px;
    margin: 0 16px 16px 0;
  }

  .footer--button--telephone {
    background-image: url(/src/img/buttons/call.svg);
  }

  .footer--button--message {
    background-image: url(/src/img/buttons/chat.svg);
  }

  .footer--button--profile {
    background-image: url(/src/img/buttons/profile.svg);
  }

  .footer--p--mail {
    font-size: $mainFontSize;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-bottom: 12px;
  }

  .footer--p--telephone {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin-bottom: 40px;
  }

  .nav__footer__lang {
    font-size: 0;
  }

  .footer--botton--lang {
    user-select: none;
    color: $mainText;
    font-family: 'TTLakes';
    font-size: $mainFontSize;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin: 0 7px 32px 0;
  }

  .footer--botton--lang .active {
    color: $navText;
  }
}
