.nav__header {
  display: flex;
  margin: 0 0 50px 0;

  .button--burger {
    background-image: url(/src/img/buttons/burger-close.svg);
    margin: 24px 16px 0 15px;
    @media (min-width: 1440px) {
      display: none;
    }
  }

  .button--search {
    background-image: url(/src/img/buttons/search.svg);
    margin: 24px 24px 0 0;
  }

  .header--link {
    margin: 18px auto 0 0;

    @media (min-width: 1440px) {
      margin: 30px auto 0 22px;
    }
  }

  .header--link img {
    width: 97px;
    height: 51px;
  }
}
