.page {
  max-width: 1120px;
  margin: auto;

  @media (min-width: 1440px) {
    margin-top: 42px;
  }

  .page--title {
    margin-bottom: 24px;
    padding-left: 16px;
    background-image: url(/src/img/about/highlight.svg);
    background-repeat: no-repeat;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;

    @media (min-width: $desctopScr) {
      padding-left: 24px;
    }

    @media (min-width: $bigDesctopScr) {
      padding-left: 32px;
      background-image: none;
    }
  }

  .page__about {
    margin-bottom: 26px;
  }

  .page__brands {
    margin-bottom: 26px;
  }
}
