.header__left {
  display: flex;
  min-width: 180px;

  .left__button {
    margin-left: 15px;
    background-image: url(/src/img/buttons/burger.svg);
    order: 0;
  }

  .left__link {
    width: 96px;
    height: 50px;
    margin: 18px 0 0 15px;
    order: 1;

    @media (min-width: $desctopScr) {
      margin-left: 20px;
    }
  }

  .left--border {
    margin: 28px 0 0 15px;
    order: 1;

    @media (min-width: $desctopScr) {
      order: 0;
      margin-left: 20px;
    }
  }
}
