.header__center {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    margin-left: auto;
  }

  .center__button:nth-child(1) {
    background-image: url(/src/img/header/center/call.svg);
  }

  .center__button:nth-child(2) {
    background-image: url(/src/img/header/center/chat.svg);
    margin-left: 16px;
  }

  .center__button:nth-child(3) {
    background-image: url(/src/img/header/center/profile.svg);
    margin-left: 16px;
  }
}
