.header {
  display: flex;
  height: 88px;
  min-width: 320px;
  background-color: $whiteColor;
  border-bottom: 1px solid $borderBColor;

  @media (min-width: 1440px) {
    display: none;
  }

  .btn {
    width: 40px;
    height: 40px;
    margin-top: 24px;
  }
}
