.header__right {
  display: flex;
  margin-left: auto;

  @media (min-width: $desctopScr) {
    margin-left: 0;
  }

  .right--border {
    display: none;
    margin: 28px 0 0 16px;

    @media (min-width: $desctopScr) {
      display: block;
    }
  }

  .right__button:nth-child(2) {
    background-image: url(/src/img/buttons/repair.svg);
    margin-left: 16px;
  }

  .right__button:nth-child(3) {
    background-image: url(/src/img/buttons/checkstatus.svg);
    margin-left: 16px;
    margin-right: 24px;
  }
}
