.about__services {
  display: flex;
  margin: 0 0 24px 16px;
  flex-wrap: nowrap;
  overflow: scroll;

  @media (min-width: $desctopScr) {
    margin-left: 24px;
  }

  @media (min-width: $bigDesctopScr) {
    margin-left: 32px;
    flex-wrap: wrap;
  }

  .services__button {
    font-family: inherit;
    padding: 8px 16px 8px 18px;
  }

  .active {
    background-color: $focusColor;
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }

  .services--text {
    color: $navText;
    font-size: $mainFontSize;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-wrap: nowrap;
  }
}

.about__services::-webkit-scrollbar {
  width: 0;
  height: 0;
}
